spring:
  datasource:
    url: jdbc:mysql://localhost:3306/empleados?useSSL=false&serverTimezone=UTC
    username: root
    password: Arisnel22.

      ##java data base conector -> BASE DE DATOS

  jpa: ##java persistent api por que a la bd se les dice coloquialmeente "CAPA DE PERSISTENCIA"
    hibernate:
      ddl-auto: update # create read update delete
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: false


  logging:
    level:
      org:
        hibernate:
          SQL: OFF
          type:
            descriptor:
              sql: OFF